.srh-header {
    background-color: transparent;
    margin: 0;
    text-align: center;
}

.navbar-light .navbar-text h2 {
    color: blue;
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}