.user-container {
    padding: 100px 0;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,.5), rgba(0,0,0,.3)), url(/images/srh1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
}

.user-div-center {
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
    margin: auto;
    border-radius: 12px; 
    background-color: #fff;
    text-align: center;
}

.user-div-center h2 {
    margin: 28px 0;
    font-weight: bolder;
}

.user-div-center p {
    font-size: 8rem;
    font-weight: bolder;
    margin: 1rem 0;
}

.adult__title-div {
    width: 100%;
    margin-top: -75px;
    padding: 12px;
    color: #fff;
    background-color: #2874A6;
    border-radius: 3px;  
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.pedia__title-div {
    width: 100%;
    margin-top: -70px;
    padding: 12px;
    color: #fff;
    background-color: #16A085;
    border-radius: 3px;  
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.cashier__title-div {
    width: 100%;
    margin-top: -75px;
    padding: 12px;
    color: #fff;
    background-color: #B03A2E;
    border-radius: 3px;  
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.er__title-div {
    width: 100%;
    margin-top: -75px;
    padding: 12px;
    color: #fff;
    background-color: #BA4A00;
    border-radius: 3px;  
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.btn-primary {
    margin: 10px 0;
    color:rgb(93, 77, 77);
    background: #4CAF50;
    border: solid #4CAF50;
    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-primary:hover {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-primary:focus {
    background-color: #4CAF50;
    border-color: #4CAF50;
}
