*, *::after, *::before {
    box-sizing: content-box;
}

.user-container {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* height: 100vh; */
    background: linear-gradient(rgba(255,255,255,.5), rgba(0,0,0,.3)), url(/images/srh1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.user-center {
    max-width: 300px;
    margin: 5rem 0;
    padding: 50px;
    background-color: #fff;
    text-align: center;
    border-radius: 12px;
}

.adult__title-div {
    width: 100%;
    margin-top: -75px;
    padding: 12px;
    color: #fff;
    background-color: #2874A6;
    border-radius: 3px;  
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.pedia__title-div {
    width: 100%;
    margin-top: -75px;
    padding: 12px;
    color: #fff;
    background-color: #16A085;
    border-radius: 3px;  
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.cashier__title-div {
    width: 100%;
    margin-top: -75px;
    padding: 12px;
    color: #fff;
    background-color: #B03A2E;
    border-radius: 3px;  
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.er__title-div {
    width: 100%;
    margin-top: -75px;
    padding: 12px;
    color: #fff;
    background-color: #BA4A00;
    border-radius: 3px;  
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.user-center  .user__title {
    text-align: center;
    margin: 5px;
}

.user-center .current-queue {
    margin: 0;
    padding: 20px 15px;    
    font-size: 2.4rem;
    font-weight: bolder;
}

.user-center .queue {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #062C67;
    font-size: 9rem;
    font-weight: bold;
}

.add-btn {
    width: 100%;
    font-size: 1.5rem;
    color:rgb(93, 77, 77);
    background: #4CAF50;
    margin: 20px 0;
    border-radius: 5px;
    border: solid #4CAF50;
}

.add-btn a {
    width: auto;
    text-decoration: none;
    color: #fff;
}

.add-btn {
cursor: pointer;
transition: all 0.25s ease;
}

.add-btn a:hover {
    font-size: 1.5rem;
    color: #fff;
}
