body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.main-container {
    height: 90vh;
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.8)), url(/images/srh1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main-container .now_serving{
    margin-top: 20px;
    padding: 20px;
    /* background-color: #fff; */
}

.main-container .now_serving h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bolder;
    background-color: #fff;
    margin: 0 20%;
}

.main-container .main-row {
    padding: 58px 0;
    color: white;
    font-weight: bold;
    font-size: 4.2em;
    text-align: center;
    margin: 0;
}

.main-col h1 {
    font-size: 175px;
    font-weight: bold;
    color: #062C67;
    padding: 8px;
}


.main-pedia {
    background-color: #16A085;
    border-radius: 12px;
}

.main-adult {
    background-color: #2874A6;
    border-radius: 12px;
}

.main-er {
    background-color: #BA4A00;
    border-radius: 12px;
}
.main-ca {
    background-color: #B03A2E;
    border-radius: 12px;
}

